* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  cursor: none;
}

body {
  position: relative;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: auto;
  color: var(--primary-color);
}

.body-active {
  overflow-y: hidden;
}
::selection {
  background: transparent;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}

:root {
  --white: #fff;
  --primary-color: #151515;
  --second-color: #cdbab1;
  --third-color: #ececec;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --error-color: #f14040;
  --titre: "Montserrat";
  --text: "Montserrat";
  --translateX: 0px;
  --translateY: 0px;
}
