.form-validate {
  transform: translateY(-100vh);
  z-index: 5;
  position: fixed;
  display: flex;
  place-content: center;
  align-items: center;
  width: 50%;
  height: 70%;
  background-color: #2d407f;
}

.active-form-validate {
  transition: 0.7s ease-in-out;
  transform: translateY(0);
}

.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  place-content: center;
  align-items: center;
}

.loading-container {
  font-family: "Montserrat";
  font-weight: 700;
  z-index: 3;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--second-color);
  background-color: var(--white);
  position: absolute;
  margin: 0 32px;
  opacity: 1;
}
.loading-container:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 15px;
  background-color: var(--second-color);
  bottom: 0;
  left: 0;
  animation: movingLine 2.4s infinite ease-in-out;
}

@keyframes movingLine {
  0% {
    opacity: 0;
    width: 0;
  }
  33.3%, 66% {
    opacity: 0.8;
    width: 100%;
  }
  85% {
    width: 0;
    left: initial;
    right: 0;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0;
  }
}
.loading-text {
  width: 60%;
  font-size: 5vw;
  line-height: 64px;
  letter-spacing: 10px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-evenly;
}
.loading-text span {
  animation: moveLetters 1.9s infinite ease-in-out;
  transform: translatex(0);
  position: relative;
  display: inline-block;
  opacity: 0;
  text-shadow: 0px 2px 10px var(--third-color);
}

.fondu {
  transition: 1s ease-in-out;
  opacity: 0;
}

.loading-text span:nth-child(1) {
  animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
  animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
  animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
  animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
  animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
  animation-delay: 0.7s;
}

.loading-text span:nth-child(8) {
  animation-delay: 0.8s;
}

.loading-text span:nth-child(9) {
  animation-delay: 0.9s;
}

.loading-text span:nth-child(10) {
  animation-delay: 1s;
}

@keyframes moveLetters {
  0% {
    transform: translateX(-15vw);
    opacity: 0;
  }
  33.3%, 66% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(15vw);
    opacity: 0;
  }
}
.line {
  height: 0;
  width: 7px;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 280px;
}
@media screen and (max-width: 1268px) {
  .line {
    left: 170px;
  }
}
@media screen and (max-width: 968px) {
  .line {
    left: 150px;
  }
}
@media screen and (max-width: 568px) {
  .line {
    left: 100px;
  }
}
@media screen and (max-width: 398px) {
  .line {
    left: 70px;
  }
}
.line.active-line {
  transition: 1s ease-in-out;
  height: 250px;
}

.container {
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  font-family: "Montserrat";
  font-weight: 700;
}
.container h1 {
  width: auto;
  font-size: 4.2em;
  line-height: clamp(35px, 6vw, 65px);
  color: var(--primary-color);
}
@media screen and (max-width: 968px) {
  .container h1 {
    font-size: 3.5em;
  }
}
@media screen and (max-width: 768px) {
  .container h1 {
    font-size: 3.1em;
  }
}
@media screen and (max-width: 568px) {
  .container h1 {
    font-size: 2.5em;
  }
}
@media screen and (max-width: 428px) {
  .container h1 {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 358px) {
  .container h1 {
    font-size: 2em;
  }
}

.block {
  width: 100vw;
  height: 100vh;
  top: 0;
  position: absolute;
}
.block .cube {
  position: absolute;
  background-color: var(--second-color);
  animation: moving 20s linear infinite;
}
.block .cube:nth-child(1) {
  width: clamp(40px, 4vw, 50px);
  height: clamp(40px, 4vw, 50px);
  top: 5%;
  left: 5%;
}
.block .cube:nth-child(2) {
  width: clamp(30px, 4vw, 40px);
  height: clamp(30px, 4vw, 40px);
  top: 15%;
  left: 30%;
}
.block .cube:nth-child(3) {
  width: clamp(45px, 4vw, 55px);
  height: clamp(45px, 4vw, 55px);
  top: 20%;
  left: 38%;
}
.block .cube:nth-child(4) {
  width: clamp(75px, 5vw, 85px);
  height: clamp(75px, 5vw, 85px);
  top: 5%;
  right: 5%;
}
.block .cube:nth-child(5) {
  width: clamp(50px, 4vw, 60px);
  height: clamp(50px, 4vw, 60px);
  top: 4%;
  right: 15%;
}
.block .cube:nth-child(6) {
  width: clamp(20px, 4vw, 30px);
  height: clamp(20px, 4vw, 30px);
  top: 23%;
  right: 5%;
}
.block .cube:nth-child(7) {
  width: clamp(30px, 4vw, 40px);
  height: clamp(30px, 4vw, 40px);
  top: 25%;
  right: 30%;
}
.block .cube:nth-child(8) {
  width: clamp(90px, 6vw, 110px);
  height: clamp(90px, 6vw, 110px);
  top: 80%;
  left: 2%;
}
.block .cube:nth-child(9) {
  width: clamp(35px, 4vw, 45px);
  height: clamp(35px, 4vw, 45px);
  top: 70%;
  left: 13%;
}
.block .cube:nth-child(10) {
  width: clamp(20px, 4vw, 30px);
  height: clamp(20px, 4vw, 30px);
  top: 55%;
  left: 10%;
}
.block .cube:nth-child(11) {
  width: clamp(120px, 10vw, 140px);
  height: clamp(120px, 10vw, 140px);
  top: 72%;
  left: 45%;
}
@media screen and (max-width: 1068px) {
  .block .cube:nth-child(11) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .block .cube:nth-child(2), .block .cube:nth-child(5), .block .cube:nth-child(8) {
    display: none;
  }
}
@media screen and (max-width: 398px) {
  .block .cube:nth-child(1) {
    display: none;
  }
}

@keyframes moving {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(var(--translateX), var(--translateY));
  }
  100% {
    transform: translate(0, 0);
  }
}
.component2 {
  position: relative;
  height: auto;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
.component2 .left {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  width: 120px;
  height: 600px;
  border: var(--primary-color) solid 4px;
  border-left: none;
  transform: translateY(300px);
  opacity: 0;
}
.component2 .left::after {
  position: absolute;
  top: 250px;
  right: -30px;
  content: "";
  width: clamp(50px, 10vw, 70px);
  height: clamp(50px, 10vw, 70px);
  background-color: var(--second-color);
}
.component2 .left-active {
  opacity: 1;
  transition: 1.2s ease-in-out;
  transform: translateY(-100px);
}
@media screen and (max-width: 1268px) {
  .component2 .left {
    width: 120px;
  }
}
@media screen and (max-width: 968px) {
  .component2 .left {
    width: 140px;
  }
}
@media screen and (max-width: 638px) {
  .component2 .left {
    width: 70px;
  }
}
@media screen and (max-width: 398px) {
  .component2 .left {
    width: 40px;
  }
}

@media screen and (max-width: 968px) {
  .component2 {
    align-items: flex-end;
    flex-direction: column-reverse;
  }
}
.txt {
  transform: translateY(200px);
  opacity: 0;
  display: flex;
  margin-left: 17vw;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  height: 100%;
}
.txt h2 {
  font-family: "Montserrat";
  margin: 2% 0 0 0;
  font-size: 3.2em;
}
.txt p {
  margin-top: 20px;
  padding-right: 200px;
  font-size: 1.05em;
  line-height: 20px;
}
@media screen and (max-width: 1268px) {
  .txt p {
    padding-right: 120px;
  }
}
@media screen and (max-width: 968px) {
  .txt h2 {
    font-size: 2.5em;
  }
  .txt p {
    margin-top: 10px;
    padding-right: 50px;
    font-size: 0.95em;
  }
}
@media screen and (max-width: 568px) {
  .txt h2 {
    font-size: 1.4em;
  }
  .txt p {
    font-size: 0.85em;
  }
}

@media screen and (max-width: 398px) {
  p {
    padding-right: 0px;
  }
}
@media screen and (max-width: 1068px) {
  .component2 {
    align-items: flex-end;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 1068px) {
  .txt {
    margin-top: -180px;
  }
}
@media screen and (max-width: 398px) {
  .txt {
    margin-right: -15px;
    width: 80%;
  }
}
.active-about {
  transition: 0.7s ease-in-out;
  transform: translate(0);
  opacity: 1;
}

.bloc2 {
  width: 30%;
  transform: translate(50vw, -30vh);
  border: 8px solid var(--primary-color);
  border-right: none;
  height: 80vh;
}
.bloc2 .card {
  transform: translate(-100px, 50px);
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: -5px -5px 15px var(--box-shadow), 8px 8px 15px var(--box-shadow);
}
.bloc2 .card::after {
  content: "";
  width: clamp(50px, 4vw, 80px);
  height: clamp(50px, 4vw, 80px);
  background-color: var(--second-color);
  top: 50px;
  right: -30px;
  position: absolute;
}
.bloc2 .card img {
  padding: 50px;
  width: 200px;
  height: auto;
}
.bloc2 .card a {
  text-decoration: none;
}
.bloc2 .card button {
  font-family: "Montserrat";
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: clamp(100px, 50%, 180px);
  margin-top: 20px;
  font-size: clamp(0.8em, 3vw, 1.05em);
  padding: 10px 15px;
  background: transparent;
  margin-left: clamp(20px, 4vw, 40px);
  border: 3px solid var(--second-color);
}
.bloc2 .card button:hover {
  background-color: var(--second-color);
  color: var(--white);
}
.bloc2 .card .icono {
  margin-left: clamp(20px, 4vw, 40px);
  font-size: clamp(1.7em, 3vw, 2em);
  margin-top: 20px;
}
.bloc2 .card .icono i {
  margin-right: 15px;
}
@media screen and (max-width: 968px) {
  .bloc2 .card {
    transform: translate(-50px, 40px);
  }
}

@media screen and (max-width: 1068px) {
  .bloc2 {
    width: 60%;
    height: 50vh;
  }
}
.border {
  transition: 1.2s ease-in-out;
  transform: translate(2%, -30vh);
}

.component3 {
  margin-top: -220px;
  height: auto;
  width: 100vw;
}

@media screen and (max-width: 1268px) {
  .component3 {
    margin-top: -200px;
  }
}
@media screen and (max-width: 1268px) and (max-width: 1068px) {
  .component3 {
    margin-top: 40px;
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes scroll2 {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
.slider {
  padding: 15px 0;
  z-index: 4;
  margin-right: -15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  transform: rotate(-3deg);
}
.slider::before, .slider::after {
  transform: rotate(0deg);
  content: "";
  z-index: 8;
  position: absolute;
  width: 15%;
  padding-top: 40px;
  height: 100%;
  border-radius: 5px;
}
.slider::before {
  background: linear-gradient(to right, rgb(245, 245, 245) 0%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  left: -5%;
}
.slider::after {
  background: linear-gradient(to left, rgb(245, 245, 245) 0%, rgba(255, 255, 255, 0) 100%);
  top: 0;
  right: -100px;
}
.slider .slide1 {
  animation: scroll 30s linear infinite;
}
.slider .slide2 {
  animation: scroll2 30s linear infinite;
  flex-direction: row-reverse;
  margin-left: 500px;
}
.slider .slide-track {
  display: flex;
  width: 1080px;
}
.slider .slide-track .card {
  cursor: default;
  position: relative;
  min-width: 200px;
  min-height: 180px;
  margin-inline: 35px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 0px 0px 15px var(--box-shadow), 5px 5px 15px var(--box-shadow);
}
.slider .slide-track .card span {
  position: absolute;
  top: -10px;
  right: 20px;
  z-index: 5;
  width: 30px;
  height: 30px;
  background-color: var(--second-color);
}
.slider .slide-track .card::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: clamp(30px, 4vw, 40px);
  height: clamp(30px, 4vw, 40px);
  background-color: var(--second-color);
  border-radius: 50px 0 0;
  transition: 0.5s ease-in-out;
}
.slider .slide-track .card::before {
  z-index: 3;
  content: "";
  position: absolute;
  left: -20px;
  bottom: 20px;
  width: clamp(40px, 4vw, 50px);
  height: clamp(40px, 4vw, 50px);
  background-color: var(--second-color);
  border-radius: 0;
  transition: 0.5s ease-in-out;
}
.slider .slide-track .card img {
  z-index: 2;
  height: 75px;
  width: auto;
  background-color: var(--white);
  padding: 15px;
  border-radius: 0 0 5px 0;
  transition: 0.5s ease-in-out;
}
.slider .slide-track .card h2 {
  transition: 0.5s ease-in-out;
  padding-top: 20px;
  font-family: "Montserrat";
  font-size: 1.2em;
}
@media screen and (max-width: 868px) {
  .slider .slide-track .card img {
    height: 60px;
  }
  .slider .slide-track .card h2 {
    padding-top: 15px;
    font-size: 1em;
  }
}
@media screen and (max-width: 468px) {
  .slider .slide-track .card img {
    height: 55px;
  }
  .slider .slide-track .card h2 {
    padding-top: 10px;
    font-size: 0.9em;
  }
}
@media screen and (max-width: 868px) {
  .slider .slide-track .card {
    min-width: 170px;
    min-height: 160px;
  }
}
@media screen and (max-width: 468px) {
  .slider .slide-track .card {
    min-width: 150px;
    min-height: 140px;
  }
}
@media screen and (max-width: 868px) {
  .slider .slide-track {
    width: 960px;
  }
}
@media screen and (max-width: 468px) {
  .slider .slide-track {
    width: 880px;
  }
}

.component4 {
  display: flex;
  width: 100vw;
  height: 80vh;
}
.component4 .space {
  width: 35%;
  border: 5px solid var(--primary-color);
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translate(-100px, 100px) scale(0.1);
}
@media screen and (max-width: 1268px) {
  .component4 .space {
    width: 60%;
  }
}
@media screen and (max-width: 968px) {
  .component4 .space {
    width: 60%;
  }
}
@media screen and (max-width: 798px) {
  .component4 .space {
    width: 85%;
  }
}
.component4 .space-active {
  transition: 0.5s ease-in-out;
  opacity: 1;
  transform: translate(0px, -50px) scale(1);
}
@media screen and (max-width: 486px) {
  .component4 .space-active {
    transform: translate(0px, -100px) scale(1);
  }
}
.component4 .contain {
  transform: translate(50px, -60px);
  position: relative;
  background-color: var(--white);
  width: 100%;
  margin: auto;
  height: auto;
  box-shadow: -8px -8px 15px var(--box-shadow), 5px 5px 15px var(--box-shadow);
}
.component4 .contain form {
  font-family: "Montserrat";
  font-weight: 700;
  width: auto;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.component4 .contain form .titre {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}
.component4 .contain form .titre h1 {
  width: 92%;
  margin: auto;
  font-family: var(--titre);
  font-size: clamp(1.4em, 2vw, 1.7em);
  color: var(--primary-color);
  padding-bottom: 30px;
}
.component4 .contain form .formulaire {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  width: 95%;
}
.component4 .contain form .formulaire .inputBox {
  position: relative;
  height: 50px;
}
.component4 .contain form .formulaire .inputBox select {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 3px solid var(--primary-color);
  color: var(--second-color);
  font-size: clamp(0.95em, 2vw, 1em);
  font-weight: 700;
  outline: none;
}
.component4 .contain form .formulaire .inputBox select:focus {
  border: none;
  border-bottom: 3px solid var(--primary-color);
  font-size: clamp(0.95em, 2vw, 1em);
}
.component4 .contain form .formulaire .inputBox option {
  color: var(--primary-color);
  font-size: clamp(0.95em, 2vw, 1em);
  padding: 0;
}
.component4 .contain form .formulaire .inputBox input {
  position: absolute;
  top: -5px;
  left: 0;
  background: transparent;
  width: 100%;
  padding: 5px 0;
  background: none;
  border: none;
  border-bottom: 3px solid var(--primary-color);
  font-weight: 500;
  outline: none;
  font-size: clamp(0.95em, 2vw, 1em);
}
.component4 .contain form .formulaire .inputBox input:focus {
  border: none;
  border-bottom: 3px solid var(--primary-color);
}
.component4 .contain form .formulaire .inputBox input:focus ~ span {
  transform: translateY(-20px);
  font-size: 0.9em;
}
.component4 .contain form .formulaire .inputBox span {
  font-size: clamp(0.9em, 2vw, 1em);
  color: var(--second-color);
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  display: inline-block;
  transition: 0.3s;
  pointer-events: none;
}
.component4 .contain form .formulaire .input-wrap {
  display: flex;
  flex-direction: column;
  width: 42%;
  margin: auto;
  margin-bottom: 20px;
}
.component4 .contain form .formulaire .input-wrap2 {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: auto;
  margin-bottom: 20px;
}
.component4 .contain form .formulaire .input-wrap2 input[type=text] {
  text-transform: lowercase;
}
.component4 .contain form .formulaire .message {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: -25px;
}
.component4 .contain form .formulaire .message span {
  color: var(--second-color);
  font-size: clamp(0.9em, 2vw, 1em);
  padding-bottom: 5px;
}
.component4 .contain form .formulaire .message textarea {
  resize: initial;
  width: 95%;
  padding: 5px 5px;
  border: none;
  border: 3px solid var(--primary-color);
  border-radius: 5px;
  color: var(--primary-color);
  background: transparent;
  font-size: 0.9em;
  font-weight: 500;
  text-transform: capitalize;
  outline: none;
  height: 100px;
}
.component4 .contain form .formulaire .message textarea::-webkit-scrollbar {
  width: 0;
}
.component4 .contain form .formulaire .rgpd {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 92%;
  margin: auto;
  padding-bottom: 20px;
}
.component4 .contain form .formulaire .rgpd span {
  font-family: var(--titre);
  font-size: clamp(0.7em, 2vw, 0.8em);
  color: var(--primary-color);
  -webkit-padding-start: 10px;
          padding-inline-start: 10px;
}
.component4 .contain form .formulaire .rgpd input[type=checkbox] {
  display: grid;
  place-content: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--white);
  font-size: 0.8em;
  color: var(--second-color);
  width: 1.15em;
  height: 1.15em;
  border: 2.5px solid var(--second-color);
  border-radius: 5px;
}
.component4 .contain form .formulaire .rgpd input[type=checkbox]:checked::before {
  transform: scale(1);
}
.component4 .contain form .formulaire .rgpd input[type=checkbox]::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.5px;
  transform: scale(0);
  transition: 0.2s;
  box-shadow: inset 1em 1em var(--primary-color);
}
.component4 .contain form .formulaire .button {
  width: 92%;
  margin: auto;
  padding-bottom: 30px;
}
.component4 .contain form .formulaire .button button {
  width: 100%;
  font-size: 1em;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  border: none;
  height: 25px;
  margin-top: 0px;
  padding: 15px 0px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.15s;
}
.component4 .contain form .placeholder {
  font-size: clamp(0.9em, 2vw, 1em);
}
.component4 .contain form small {
  position: absolute;
  top: 30px;
  font-size: 0.75em;
  color: var(--error-color);
  visibility: hidden;
}
.component4 .contain form .small4 {
  top: 25px;
}
.component4 .contain form .small5 {
  top: 30px;
}
.component4 .contain form .input-active {
  transform: translateY(-20px);
  font-size: 0.8em;
}
.component4 .contain form .active {
  visibility: visible;
}
.component4 .contain form .animation {
  animation: shakeX;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.component4 .contain form .padding {
  height: 35px;
}
.component4 .contain form .scale {
  transform: scale(0.9);
}
@media screen and (max-width: 698px) {
  .component4 .contain {
    transform: translate(20px, -80px);
  }
}
@media screen and (max-width: 486px) {
  .component4 .contain {
    transform: translate(20px, -40px);
  }
}
.component4 .other-cubes {
  width: 70%;
  position: relative;
  height: 60%;
  padding-left: 10%;
}
.component4 .other-cubes .cube {
  position: absolute;
  background-color: var(--second-color);
  animation: moving 20s linear infinite;
}
.component4 .other-cubes .cube:nth-child(1) {
  width: clamp(110px, 20vw, 170px);
  height: clamp(110px, 20vw, 170px);
  top: 80%;
  right: 25%;
}
@media screen and (max-width: 1268px) {
  .component4 .other-cubes .cube:nth-child(1) {
    top: 60%;
    right: 40%;
  }
}
.component4 .other-cubes .cube:nth-child(2) {
  width: clamp(50px, 4vw, 90px);
  height: clamp(50px, 4vw, 90px);
  top: 70%;
  left: 30%;
}
@media screen and (max-width: 1268px) {
  .component4 .other-cubes .cube:nth-child(2) {
    top: 1%;
    right: 25%;
  }
}
.component4 .other-cubes .cube:nth-child(3) {
  width: clamp(30px, 4vw, 40px);
  height: clamp(30px, 4vw, 40px);
  top: 40%;
  right: 15%;
}
@media screen and (max-width: 1268px) {
  .component4 .other-cubes .cube:nth-child(3) {
    top: 25%;
    right: 25%;
  }
}
@media screen and (max-width: 968px) {
  .component4 .other-cubes {
    display: none;
  }
}

@media screen and (max-width: 1268px) {
  .component4 {
    margin-top: 200px;
  }
}
@media screen and (max-width: 968px) {
  .component4 {
    flex-direction: column;
  }
}
.component5 {
  position: relative;
  margin-block: 20px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.projets {
  border: 5px solid var(--primary-color);
  border-right: none;
  padding: 5px 20px 0px 70px;
  width: 55%;
  display: flex;
  height: auto;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.projets .card-projet {
  transform: translateY(50px);
  background-color: var(--second-color);
  padding: 20px;
  height: 350px;
  flex: 1;
  margin: 0 5px;
  transition: 0.5s ease-in-out;
  overflow: hidden;
  filter: brightness(110%) contrast(110%) grayscale(100%);
}
.projets .card-projet:nth-child(1) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projets .card-projet:nth-child(2) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projets .card-projet:nth-child(3) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projets .card-projet:nth-child(4) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projets .card-projet:nth-child(5) {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projets .card-projet h2 {
  font-size: clamp(1.2em, 2vw, 1.4em);
  font-family: var(--titre);
  padding: 5px;
  transform: translate(-100px, 0px);
  transition: 0.3s ease-in-out;
  opacity: 0;
  color: var(--white);
}
.projets .card-projet .hover-titre {
  transition: 0.7s ease-in-out;
  transform: translate(0, 0);
  opacity: 1;
  overflow: visible;
}
@media screen and (max-width: 1268px) {
  .projets .card-projet {
    transform: translateY(40px);
  }
}
@media screen and (max-width: 768px) {
  .projets .card-projet {
    transform: translateY(20px);
    margin: 0 2.5px;
    min-width: 100px;
    transition: 0.5s ease-in-out;
  }
}
@media screen and (max-width: 580px) {
  .projets .card-projet {
    height: 300px;
    min-width: 200px;
    margin: 0 2px;
    flex-wrap: wrap;
  }
}
.projets .card-projet.blur-card {
  filter: brightness(110%) contrast(110%) grayscale(100%);
}
.projets .hover-card {
  filter: none;
  transition: 0.5s ease-in-out;
  flex: 10;
}
@media screen and (max-width: 968px) {
  .projets .hover-card {
    flex: 5;
  }
}

@media screen and (max-width: 1268px) {
  .projets {
    width: 70%;
  }
}
@media screen and (max-width: 968px) {
  .projets {
    width: 85%;
    padding: 5px 20px 0px 40px;
  }
}
@media only screen and (max-width: 768px) {
  .projets {
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 468px) {
  .projets {
    padding: 5px 10px 0px 10px;
  }
}/*# sourceMappingURL=style.css.map */